# Google API Key for LangChain
GOOGLE_API_KEY=your_api_key
# LangSmith monitoring
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_api_key
LANGSMITH_WORKSPACE_ID=your_workspace_id
LANGCHAIN_ENDPOINT="https://apac.api.smith.langchain.com"
